$main-font: 'oswald-regular', sans-serif;

$rem-fallback: true;

$screen-md: 768px;
$max-screen-sm: 767px;

$chicago: #5d5a57;
$sandal: #a99269;
$white: #fff;

$box-shadow-navigation-hover: rgba(0, 0, 0, .1);
$box-shadow-sublevel-hover: rgba(26, 26, 26, .3);
$background-color-first-color-and-opacity: rgba(93, 90, 87, .95);

$first-color: $chicago;
$second-color: $sandal;
$third-color: $white;
