.navigation {
    transition: box-shadow .5s ease;

    &:hover {
        box-shadow: 0 0 3px $box-shadow-navigation-hover;
    }

    &__link {
        @include rem((
            padding: 18px 9px,
            max-height: 51px
        ));
    }
}
