// -- Oswald -- //
@font-face {
    font-family: 'oswald-regular';
    src: url('../fonts/oswald/oswald-regular-webfont.eot');
    src: url('../fonts/oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
        url('../fonts/oswald/oswald-regular-webfont.woff') format('woff'),
        url('../fonts/oswald/oswald-regular-webfont.ttf') format('truetype'),
        url('../fonts/oswald/oswald-regular-webfont.svg#oswald-regular') format('svg');
    font-style: normal;
    font-weight: 400;
}
// -- / Oswald / -- //
